.DS_Store
*.swp
*.lock
profile

*~.nib

DerivedData/

build/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

xcuserdata

build_Xcode/tools/*.a

.vs/
installed_version/
build_VC2013/.vs/
build_VC2013/_build/
build_VC2013/Backup/
build_VC2013/Backup1/
build_VC2013/Debug/
build_VC2013/UpgradeLog.htm
build_VC2013/UpgradeLog2.htm
FrontierSDK/
.git-instructions.txt